
table{
    border: 1px solid black;
    width: 80% !important;
    margin-left:10%
}

th, td {
    border: 1px solid gray; /* セルの内側の枠線 */
    padding: 8px;
    text-align: center;
}


table th{
    /* background-color: aquamarine !important; */
    font-weight: bold;
}

#search_text, #search_select{
    width: 30%;
    margin: aute;
    margin-left:10%
}

.product_register{
    margin-left: 30%;
}

#title{
    width: 80%;
    margin-left: 10%;
}

.product_register{
    padding: 0 10px 0 10px;
}

/* #search_contents{
    width: 30%;
} */

/* input ,select option{
    width: 30%;
} */

.product_register{
    background-color: orange;
}

.paginate{
    margin-left: 40%;
}